Django==4.2.11
djangorestframework==3.16.1
django-cors-headers==4.9.0
dj-database-url==3.0.1
psycopg2-binary==2.9.11
whitenoise==6.7.0
gunicorn==23.0.0
python-jose[cryptography]==3.3.0
supabase==2.25.0
python-dotenv==1.2.1